@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.first-section{
    background-color: rgb(255, 228, 233);
}
.logo-txt{
    font-family: 'Dancing Script', cursive;
}
.banner-image{
    height: 50%;
    max-height: 50vh;
    width: 100dvw;
    margin: auto;
    object-fit: contain;
    display: block;
  }
.product-container{
    max-height: 100dvh;
    overflow-y: scroll;
}